* {
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    margin-top: 100px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 10px #666666;
}
#commentBox {
    max-width: 60%;
    margin: 100px auto;
    border: 1px solid #333333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555555;
}
input,textarea {
    display: block;
    padding: 5px;
    margin: 10px;
}
button {
    display: block;
    margin-left: 10px;
    padding: 5px 15px;;
}

.showComments {
    width: 100%;
    overflow: hidden;
    border: 1px solid #333;
    margin-top: 30px;

}
.userPhoto {
    float: left;
    margin-right: 20px;
    padding: 22px 34px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555555;
}
.userComment {
    text-align: left;
    padding: 35px;
    margin-left: 200px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #555555;
}
.deleteBtn {
    background-color: #ff3388;
    color: white;
    border: none;
    margin: 10px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    font-weight: bold;
}
img {
    width: 128px;
    height: 128px;
}